Repository SalesUpLabs/appsutra, changes with the labels that .github/labeler.yml gives for each.
All labels: category:crm, category:hr, category:marketing, category:finance, category:support, category:analytics, category:security, category:devtools, category:accounting, documentation, validation, github-config, dependencies

.github/labeler.yml:

# Auto-labeling configuration for AppSutra Directory
# Labels are applied based on file paths in PRs

# Category labels
'category:crm':
  - 'listings/crm/**'

'category:hr':
  - 'listings/hr/**'

'category:marketing':
  - 'listings/marketing/**'

'category:finance':
  - 'listings/finance/**'

'category:support':
  - 'listings/support/**'

'category:analytics':
  - 'listings/analytics/**'

'category:security':
  - 'listings/security/**'

'category:devtools':
  - 'listings/devtools/**'

'category:accounting':
  - 'listings/accounting/**'

# Type labels
'documentation':
  - '*.md'
  - 'CONTRIBUTING.md'
  - 'README.md'
  - 'MODERATION.md'

'validation':
  - 'schema/**'
  - 'scripts/**'

'github-config':
  - '.github/**'

'dependencies':
  - 'package.json'
  - 'package-lock.json'

feat: add complete Next.js frontend for AppSutra Open Directory
  frontend/.eslintrc.json
  frontend/README.md
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/app/[category]/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/page.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/layout/footer.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/listings/listing-card.tsx
  frontend/src/components/reviews/review-card.tsx
  frontend/src/components/reviews/reviews-section.tsx
  frontend/src/lib/github.ts
  frontend/src/lib/listings.ts
  frontend/src/lib/search.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  frontend/vercel.json
Labels: none

docs: update CLAUDE.md with frontend architecture and validation workflow
  CLAUDE.md
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package.json
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/app/[category]/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/search/page.tsx
Labels: documentation

feat: remove homepage and redirect to search, update logo to external site
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layout/header.tsx
Labels: none

added bg
  frontend/src/app/layout.tsx
  frontend/src/app/search/layout.tsx
  frontend/src/app/search/page.tsx
Labels: none

feat: add new components and update styles for improved UI/UX
  frontend/components.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/search/page.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
Labels: none

search component
  frontend/src/app/search/page.tsx
  frontend/src/lib/tag-colors.ts
Labels: none

fixed issue with crm page due to changes in utils file by shadcn installation
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/app/[category]/page.tsx
  frontend/src/lib/utils.ts
Labels: none

feat: update search layout background and improve tag color handling
  frontend/src/app/search/layout.tsx
  frontend/src/app/search/page.tsx
  frontend/src/lib/accent-color.ts
Labels: none

feat: add WhyChooseUs component to enhance product page details
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/whyChooseUs.tsx
Labels: none

added Structure refrence
  frontend/src/app/[category]/[slug]/structure.js
Labels: none

added types
  frontend/src/types/product.ts
Labels: none

feat: add ProductHeader component to display product details on the product page
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

refactor: remove unused params from ProductHeaderProps interface
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

feat: update ProductHeader component with new action buttons and icons
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

feat: enhance ProductHeader component with tab navigation and updated action buttons
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

feat: add ProductInfo component to display detailed product information
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
  frontend/src/components/pages/productdetails/productinfo.tsx
Labels: none

feat: add KeyFeatures component and integrate it into ProductPage
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/keyFeatures.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

Add pricing, integrations, and buying guide components
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/buyingGuide.tsx
  frontend/src/components/pages/productdetails/integrationsPage.tsx
  frontend/src/components/pages/productdetails/pricingOverview.tsx
Labels: none

feat: add SoftwareComparisonCarousel component and integrate it into ProductPage; enhance ProductInfo with Markdown support and dynamic use cases display
  frontend/package.json
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/alternative.tsx
  frontend/src/components/pages/productdetails/productinfo.tsx
Labels: none

feat: enhance ProductPage with BuyingGuide and Integrations components; update layout and improve responsiveness
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/buyingGuide.tsx
  frontend/src/components/pages/productdetails/integrationsPage.tsx
  frontend/src/components/pages/productdetails/keyFeatures.tsx
  frontend/src/components/pages/productdetails/pricingOverview.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

fix: update icon sizes and improve layout for WhyChooseUs component
  frontend/src/components/pages/productdetails/whyChooseUs.tsx
Labels: none

feat: update pricingOverview and productHeader components; standardize icon usage and improve layout responsiveness
  frontend/src/components/pages/productdetails/pricingOverview.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
Labels: none

fix: enhance ProductPage and ProductInfo components; improve layout, add PricingOverview, and support Markdown rendering
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/productinfo.tsx
Labels: none

feat: add BrandIcon component for dynamic brand icon rendering; update ProductInfo layout and integration display
  frontend/package.json
  frontend/src/components/pages/productdetails/productinfo.tsx
  frontend/src/components/ui/brandIconUtils.tsx
Labels: none

feat: update ProductPage layout; integrate BuyingGuide and KeyFeatures components, and enhance key features display
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/keyFeatures.tsx
  frontend/src/types/product.ts
Labels: none

Buying Guide UI fixed
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/buyingGuide.tsx
Labels: none

Pricing overview fixed
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/pricingOverview.tsx
  frontend/src/types/product.ts
Labels: none

Integration page fixed
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/integrationsPage.tsx
  frontend/src/components/pages/productdetails/productinfo.tsx
  frontend/src/types/product.ts
Labels: none

feat: update Product data structure to replace free plan with trial plan; adjust related components and metadata
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
  frontend/src/types/product.ts
Labels: none

feat: Refactor product listing and details page to use markdown-based product data
  README.md
  frontend/package.json
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/app/[category]/[slug]/structure.js
  frontend/src/app/search/page.tsx
  frontend/src/components/pages/productdetails/alternative.tsx
  frontend/src/components/pages/productdetails/buyingGuide.tsx
  frontend/src/lib/listings.ts
  frontend/src/types/product.ts
  listings/crm/zoho-crm.md
  listings/keka-services.md
  listings/razorpay.md
Labels: category:crm, documentation

feat: Update README and listings structure to organize products by category by using folder names
  README.md
  frontend/src/lib/listings.ts
  listings/finance/razorpay.md
  listings/hr/keka-services.md
Labels: category:hr, category:finance, documentation

feat: Replace listings with products in category page and implement ProductCard component
  frontend/src/app/[category]/page.tsx
  frontend/src/components/listings/product-card.tsx
  frontend/src/lib/listings.ts
Labels: none

feat: Refactor product handling and update schema; replace listings with products across the application
  README.md
  frontend/src/app/search/page.tsx
  frontend/src/lib/listings.ts
  frontend/src/lib/search.ts
  frontend/src/lib/types.ts
  listings/finance/razorpay.md
  listings/hr/keka-services.md
  schema/product.schema.json
  scripts/linkcheck.mjs
  scripts/validate.mjs
Labels: category:hr, category:finance, documentation, validation

feat: Add IDs to sections in product detail pages for better navigation
  frontend/src/components/pages/productdetails/buyingGuide.tsx
  frontend/src/components/pages/productdetails/integrationsPage.tsx
  frontend/src/components/pages/productdetails/pricingOverview.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
  frontend/src/components/pages/productdetails/productinfo.tsx
  listings/hr/keka-services.md
Labels: category:hr

feat: Implement fluid typography and spacing across product detail components
  frontend/src/app/[category]/[slug]/page.tsx
  frontend/src/components/pages/productdetails/buyingGuide.tsx
  frontend/src/components/pages/productdetails/integrationsPage.tsx
  frontend/src/components/pages/productdetails/keyFeatures.tsx
  frontend/src/components/pages/productdetails/pricingOverview.tsx
  frontend/src/components/pages/productdetails/productHeader.tsx
  frontend/src/components/pages/productdetails/productinfo.tsx
  frontend/src/components/pages/productdetails/whyChooseUs.tsx
  frontend/tailwind.config.ts
Labels: none

feat: Update icon styles and layout in WhyChooseUs component for improved responsiveness
  frontend/src/components/pages/productdetails/whyChooseUs.tsx
Labels: none

feat: Update padding styles for improved layout in ProductPage component
  frontend/src/app/[category]/[slug]/page.tsx
Labels: none

feat: Comment out Header and Footer components in NotFound page
  frontend/src/app/not-found.tsx
Labels: none

feat: Add new icons for Key Features, Product Details, Pricing Overview, and Why Choose Us sections
  .gitignore
  frontend/public/icons/KeyFeatures/Calendar.png
  frontend/public/icons/KeyFeatures/Dollar.png
  frontend/public/icons/KeyFeatures/Progress.png
  frontend/public/icons/KeyFeatures/Scale.png
  frontend/public/icons/ProductDetailsPage/keka/icon.png
  frontend/public/icons/pricingOverview/Beginner.png
  frontend/public/icons/pricingOverview/Building.png
  frontend/public/icons/pricingOverview/Increase.png
  frontend/public/icons/pricingOverview/Scale.png
  frontend/public/icons/productInfo/verifiedBadge.png
  frontend/public/icons/whyChooseUs/Discount.png
  frontend/public/icons/whyChooseUs/LightningBolt.png
  frontend/public/icons/whyChooseUs/compare.png
  frontend/public/ribbon-badge.png
Labels: none

refactor: Remove unused components and functions to streamline codebase
  frontend/src/app/search/layout.tsx
  frontend/src/app/search/page.tsx
  frontend/src/app/search/search-client.tsx
  frontend/src/components/listings/listing-card.tsx
  frontend/src/components/pages/productdetails/alternative.tsx
  frontend/src/components/reviews/review-card.tsx
  frontend/src/components/reviews/reviews-section.tsx
  frontend/src/lib/github.ts
  frontend/src/lib/listings.ts
  frontend/src/lib/search.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Labels: none
