Repository SalesUpLabs/appsutra, changes with the labels that .github/labeler.yml gives for each.
All labels: category:crm, category:hr, category:marketing, category:finance, category:support, category:analytics, category:security, category:devtools, category:accounting, documentation, validation, github-config, dependencies

.github/labeler.yml:

# Auto-labeling configuration for AppSutra Directory
# Labels are applied based on file paths in PRs

# Category labels
'category:crm':
  - 'listings/crm/**'

'category:hr':
  - 'listings/hr/**'

'category:marketing':
  - 'listings/marketing/**'

'category:finance':
  - 'listings/finance/**'

'category:support':
  - 'listings/support/**'

'category:analytics':
  - 'listings/analytics/**'

'category:security':
  - 'listings/security/**'

'category:devtools':
  - 'listings/devtools/**'

'category:accounting':
  - 'listings/accounting/**'

# Type labels
'documentation':
  - '*.md'
  - 'CONTRIBUTING.md'
  - 'README.md'
  - 'MODERATION.md'

'validation':
  - 'schema/**'
  - 'scripts/**'

'github-config':
  - '.github/**'

'dependencies':
  - 'package.json'
  - 'package-lock.json'

Switch from GitHub Packages to npm registry for public distribution
  .github/workflows/release.yml
  CLAUDE.md
  package.json
Labels: documentation, github-config, dependencies

Add package-lock.json for reproducible builds in CI/CD
  .gitignore
  package-lock.json
Labels: dependencies

Remove .npmrc to fix npm publish to public registry
  .npmrc
Labels: none

Clean up .gitignore and add CLAUDE.md
  .gitignore
Labels: none

Fix linkcheck script to handle sites that block HEAD requests
  package.json
  scripts/linkcheck.mjs
Labels: validation, dependencies
